* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#about {
  width: 80%;
  height: 100vh;
  max-width: 900px;
  margin: 40px auto;
  color: #ffffff;
  line-height: 1.8;
  position: relative;
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #00c2ff;
  text-align: center;
}

.about-text {
  margin-bottom: 20px;
  font-size: 1.05rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

#about a {
  color: #00c2ff;
  text-decoration: none;
  font-weight: 500;
}

#about a:hover {
  text-decoration: underline;
}

.about-text.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  #about {
    width: 90%;
  }
  #about h2 {
    font-size: 2rem;
  }
}

/* Tablets */
@media (max-width: 1024px) {
  #about {
    width: 90%;
  }

  #about h2 {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1rem;
  }
}

/* Mobile phones */
@media (max-width: 480px) {
  #about h2 {
    font-size: 1.6rem;
  }

  .about-text {
    font-size: 0.9rem;
  }
}
