* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#projects {
  height: 100vh;
  width: 85vw;
  max-width: 1500px;
  color: #fff;
  margin: 40px auto;
  line-height: 1.8;
  position: relative;
}
#projects h2 {
  color: #00c2ff;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}
.groupone {
  height: max-content;
  width: 90%;
  max-width: 1500px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grouptwo {
  height: max-content;
  width: 90%;
  max-width: 1500px;
  margin: 90px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#projectone {
  height: 300px;
  width: 350px;
}
#projectone .project-link {
  background-image: url("photo/calculater.png");
}
#projecttwo {
  height: 300px;
  width: 350px;
}
#projecttwo .project-link {
  background-image: url("photo/calculater.png");
}
#projectthree {
  height: 300px;
  width: 350px;
}
#projectthree .project-link {
  background-image: url("photo/calculater.png");
}

#projectfour {
  height: 300px;
  width: 350px;
  margin-top: 20px;
}
#projectfour .project-link {
  background-image: url("photo/snake.png");
}

#projectfive {
  height: 300px;
  width: 350px;
  margin-top: 20px;
}
#projectfive .project-link {
  background-image: url("photo/snake.png");
}

#projectsix {
  height: 300px;
  width: 350px;
  margin-top: 20px;
}
#projectsix .project-link {
  background-image: url("photo/snake.png");
}
.project-link:hover {
  transform: scale(1.03);
  transition: transform 0.25s ease;
}
footer {
  height: 10vh;
  width: 10vw;
}
h3 {
  margin-top: 10px;
}

.popup {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.6s ease;
}

.popup.visible {
  opacity: 1;
  transform: scale(1);
}
